/*---Basic---*/
*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    font-family: 'Inconsolata', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix{ zoom: 1; }

.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h2{
    font-size: 200%;
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #ffd200;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -65px;
    left: 0;
    visibility: hidden;
}

/*---Anim---*/
.js--wp-1{
    opacity: 0;
}

.js--wp-1 .animated{
    opacity: 1;
}

/*---Header---*/
.section-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 9999;
    visibility: visible;
}

.main-nav{
    float: right;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 30px;
}

.main-nav li{
    display: inline-block;
    margin-right: 30px
}

.main-nav li a{
    text-decoration: none;
    color: #fff;
    padding: 0 0 8px 0;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s
}

.main-nav li a:hover{
    border-bottom: 2px solid #ffd200;
}

.basic-lunch-logo-nav{
    margin: 10px;
    margin-left: 30px;
    float: left;
    width: 100px;
    height: auto;
}

/*---Title Card---*/
.section-title-card .bounceInDown{
    animation-delay: 3s;
    animation-duration: .9s;
}

.section-title-card .fadeIn{
    animation-delay: 2s;
    animation-duration: 3s;
}

h1{
    text-align: center;
    font-size: 300%;
    margin: 30px auto;
}

.section-title-card{
    margin-top: 300px;
    width: 100%;
    text-align: center;
    margin-bottom: 350px;
}

.section-title-card p{
    margin-top: 20px;
}

.section-title-card img{
    width: 40%;
    margin-top: 50px;
}

/*---Yolklore---*/
.splash-img{
    width: 100%;
}

.long-copy{
    line-height: 145%;
    width: 42%;
    margin-left: 29%;
    margin-bottom: 40px;
}

.faye-toma{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 40px;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 300%;
    margin-left: 0;
}

.features div{
    text-align: center;
}

.feature-copy{
    font-size: 80%;
    line-height: 145%;
    margin-top: 30px;
    margin-bottom: 40px;
}

/*---Newsletter---*/
.section-newsletter{
    background-color: #ffd200;
    position: relative;
}

.section-newsletter h2::after{
    background-color: #000;
}

.section-newsletter p{
    padding: 2%;
    line-height: 145%;
    width: 90%;
    margin-left: 3%;
    background-color: #fff;
    margin-bottom: 10px;
}

.contact-form{
    width: 40%;
    margin: 0 auto;
}

.contact-form div{
    margin-bottom: 40px;
}

.contact-form p{
    padding: 3%;
}

input[type=email]{
    width: 60%;
    padding: 2%;
}

input[type=submit]{
    padding: 2%;
    margin-left: 0;
    margin-right: 9px;
    float: right;
}

*:focus{
    outline: none;
}

/*---About Us---*/
.section-about-us{
    background-color: #eee;
}
.section-about-us div{
    text-align: center;
}

.about-photo{
    height: 200px;
    width: auto;   
    border-radius: 50%; 
    margin-top: 20px;
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

h4{
    font-weight: normal;
    margin-bottom: 15px;
}

.section-about-us p{
    text-align: left;
    line-height: 145%;
    font-size: 70%;
    padding: 10px 20px;
}

.about-box{
    background-color: #fff;
    border-radius: 0px;
    width: 80%;
    margin-left: 5%;
    padding: 5%;
    margin-bottom: 40px;
}
/*---Footer---*/
footer p{
    padding-top: 20px;
    padding-left: 25px;
    color: #888;
    font-size: 80%;
    padding-bottom: 15px;
}
.section-footer{
    background-color: #333;
}

.footer-nav{
    text-align: left;
    list-style: none;
    padding-bottom: 20px;
    padding-right: 20px;
}

.footer-nav li{
    display: inline-block;
    padding-left: 25px;
}

.footer-nav li a{
    color: #888;
    text-decoration: none;
    font-size: 80%;
}

/*---Community---*/
.section-form{
    margin-top: 65px;
    margin-bottom: 40px;
}

.form-post{
    width: 70%;
    margin: 0 auto;
}

.form-post col{
    margin-top: 10px;
}
.section-form input[type=text],
textarea{
    width: 100%;
    padding: 2%;
}

textarea{
    height: 100px;
}

.section-form input[type=submit]{
    float: left;
}

/*---Comments---*/
.section-comments{
    width: 98%;
    background-color: #ffd200;
    padding: 1%;
    border-top: 1px solid #000;
}

.user-name{
    width: 30%;
    margin-top: 0;
    padding: 10px;
    text-align: left;
    background-color: #fff;
}

.user-message{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    font-size: 80%;
}

/*---Hamburger---*/
.topnav {
    height: 65px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 9999;
    visibility: hidden;
  }

  .topnav #myLinks {
      display: none;
      background-color: #ffd200;
  }

  .topnav a {
    color: #fff;
    background-color:#000;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ffd200;
    color: black;
  }
  
  .active {
      height: 42px;
      width: auto;
  }